<section class="bg- py-5">
  <div class="container py-5">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>ABOUT</h5>
        </div>
        <div class="col-lg-6">
            <p>I'm web designer & front-end developer with 7 years of professional experience. I'm interested in all kinds of visual communication, but my major focus is on designing web, mobile & tablet interfaces. I also have skills in other fields like branding, icon design or web development.</p>
        </div>
        <div class="col-lg-3 text-right">
            <a>Download PDF</a>
        </div>
    </div>
  </div>
</section>