<!-- Formations -->
<section class="bg-blue">
  <div class="container py-5">
    <div class="row">
      <h1>Fomations</h1>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div class="row">
          <div class="col-2"><p>2017 - 2019</p></div>
          <div class="col-10"><p>Alternant architecte système et réseau windows chez <strong>Edmond​ ​de​ ​Rothschild.</strong></p></div>
        </div>

        <div class="row">
          <div class="col-2"><p>2013 - 2019</p></div>
          <div class="col-10"><p>Etudiant en 4ème année à l’école d’ingénieur généraliste et high-tech <strong>ECE​ ​Paris</strong>​, Master en “Système d’Information,​ ​Cybersécurité​ ​et​ ​Big​ ​Data​”</p></div>
        </div>

        <div class="row">
          <div class="col-2"><p>2015 - 2016</p></div>
          <div class="col-10"><p>Semestre au Danemark à l’université d’Aalborg <strong>AAU</strong>.</p></div>
        </div>

        <div class="row">
          <div class="col-2"><p>2010 - 2013</p></div>
          <div class="col-10"><p>Baccalauréat S, option mathématiques à l’internat du lycée <strong>Stanislas</strong>.</p></div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Expériences -->
<section>
  <div class="container py-5">
    <div class="row">
      <h1>Expériences</h1>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div class="row">
          <div class="col-2"><p>2016-2017</p></div>
          <div class="col-10"><p><strong>Voyage à deux en vélo en Amérique Latine (Mexico -> Santiago - Chili -> Rio de Janeiro - Brésil ) pour promouvoir​ ​les​ ​énergies​ ​renouvelables.<a href="http://rollingthepachamama.travelmap.net" target="_blank">(Voir Blog)</a>​ </strong></p> </div>
        </div>

        <div class="row">
          <div class="col-2"><p>2016 (45 jours)</p></div>
          <div class="col-10"><p><strong>[Stage​ ​Bziiit]</strong>​ Développement de leur site web (HTML, CSS, PHP, MySQL) avec Bootstrap et Symfony.</p></div>
        </div>

        <div class="row">
          <div class="col-2"><p>2015 - 2016</p></div>
          <div class="col-10"><p><strong>[AAU Aalborg]</strong> Modélisation, simulation, et prototypage d’une tondeuse à gazon autonome.</p></div>
        </div>

        <div class="row">
          <div class="col-2"><p>2015 (30 jours)</p></div>
          <div class="col-10"><p><strong>[Stage Swapasap]</strong> Développement de leur site web (HTML, CSS, JS, peu de PHP) avec Foundation.</p></div>
        </div>

        <div class="row">
          <div class="col-2">
            <p class="mb-0" style="margin-top: 24px">2014 - 2015</p>
            <p>2013 - 2014</p>
          </div>
          <div class="col-10">
            <strong>[ECE] PSTE: Projet Scientifique Technique par Équipe (incluant un programme en C et un prototype)</strong>
            <p class="mb-0">Développement d'un système de reconnaissance de l'iris, en vue d'identifier un être humain. </p>
            <p>Développement d’un régulateur de vitesse actif, un pas vers la voiture autonome.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Compétences -->
<section class="bg-blue">
  <div class="container py-5">
    <div class="row">
      <h1>Compétences</h1>
    </div>

    <div class="row">
      <div class="col">
        <div class="row mb-4">
          <div class="col"><strong>Informatique</strong></div>
          <div class="col"><strong>Logiciels et environnements</strong></div>
          <div class="col"><strong>Langues</strong></div>
        </div>

        <div class="row">
          <div class="col">
            <p>Arduino - C - notion en Java</p>
            <p>PHP (notion en Symfony) / MySQL </p>
            <p>HTML / CSS / JavaScript</p>
            <p>Foundation - Bootstrap / Angular</p>
          </div>
          <div class="col">
            <p>Linux</p>
            <p>Git - Github / Bitbucket</p>
            <p>Matlab - LaTeX</p>
            <p>Inkscape - éditeur de vecteur graphique</p>
            <p>Windows Server</p>
          </div>
          <div class="col">
            <p>Français     - Langue maternelle</p>
            <p>Anglais       - Bilingue (TOEIC C2)</p>
            <p>Espagnol    - Bilingue</p>
            <p>Portugais   - Courant</p>
            <p>Russe 	     - Niveau débutant</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
