<section class="py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interet Hobbies</h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <img src="assets/img/hobbies/giphy-tumblr.gif" alt="natation gif" class="col-12">
        <h3>Natation</h3>
        <p>Deux fois par semaine, c'est mon sport pendant l'année!</p>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <img src="assets/img/hobbies/Snow.gif" alt="snow gif" class="col-12">
        <h3>Snowboarding</h3>
        <p>Le ski, sport préféré depuis des générations !</p>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <img src="assets/img/hobbies/bike.gif" alt="velo gif">
        <h3>Biking</h3>
        <p>Un an de voyage en amérique latine, une expérience inoubliable! </p>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <img src="assets/img/hobbies/scouts-gifs.gif" alt="scout gif">
        <h3>Chef de troupe</h3>
        <p>Être scout: Courir dans les bois, la joie de rencontrer les animaux de la forêt!</p>
      </div>
    </div>
  </div>
</section>
