<header>
  <div class="container " id="header-content">
    <h1 class="text-center text-white text-uppercase">Your favorite Source of free bootstrap themes</h1>
    <hr>
    <p class="text-center my-5 text-uppercase text-white">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
    <div class="row my-5">
      <button type="button" class="col-7 col-md-5 col-lg-3 mx-auto btn btn-primary btn-lg text-white" name="button">Find out more</button>
    </div>
  </div>
</header>