<header>
  <div class="container " id="header-content">
    <div class="row justify-content-end">
      <div class="col-md-7">
        <h1 class="text-white text-right display-3">Romaric Destremau</h1>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-7"  style="background: rgba(255,255,255,0.3)">
        <h5 class="text-right text-white">Apprentis à l'ECE Paris école d'ingénieur, en tant que architecte système et réseau chez Edmond de Rothschild</h5>
      </div>
    </div>
  </div>
</header>
