<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a href="#" class="col-8"><h3 class="text-uppercase">Start Bootstrap</h3></a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="nav justify-content-end fixed-top">
        <li class="nav-item">
          <a class="text-uppercase nav-link active" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>