nav a{
  color: rgba(255,255,255,.7);
}
nav a:hover{
  color:white;
}

header{
  background-image: url("./img/header.jpg");
  background-repeat:no-repeat;
}


hr{
  max-width: 50px;
  border-width: 3px;
  border-color: #f05f40;
}
.hr-white{
  border-color: white;
}

#header-content{
  padding-top: 204px;
  padding-bottom: 150px;
}


.bg-primary, .btn-primary {
  background-color: #f05f40!important;
  border-color: #f05f40;
}


.bg-black{
  background-color: black;
}
